## Calculating Area of US Sates

In [25]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [26]:
file_path = '/Users/otwiine/Desktop/gadm41_USA_shp/gadm41_USA_1.shp'

In [27]:
US2 = gpd.read_file(file_path)

In [28]:
US2 = US2.to_crs(epsg=6933) # This crs uses Meters

In [29]:
US2.head()

,GID_1,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,ISO_1,geometry
0,USA.1_1,USA,United States,Alabama,AL|Ala.,NA,State,State,NA,US.AL,US-AL,"MULTIPOLYGON (((-8502431.609 3684611.166, -850..."
1,USA.2_1,USA,United States,Alaska,AK|Alaska,NA,State,State,NA,US.AK,US-AK,"MULTIPOLYGON (((17290410.312 5724865.791, 1729..."
2,USA.3_1,USA,United States,Arizona,AZ|Ariz.,NA,State,State,NA,US.AZ,US-AZ,"POLYGON ((-10686457.247 3805556.343, -10688076..."
3,USA.4_1,USA,United States,Arkansas,AR|Ark.,NA,State,State,NA,US.AR,US-AR,"POLYGON ((-8867776.849 3987130.682, -8878387.4..."
4,USA.5_1,USA,United States,California,CA|Calif.,NA,State,State,NA,US.CA,US-CA,"MULTIPOLYGON (((-11311376.286 3961980.708, -11..."

In [30]:
US2["Area"] = US2.geometry.area

In [31]:
pd.options.display.float_format = '{:.2f}'.format
# This tells how many decimal places to show
US2.head()

,GID_1,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,ISO_1,geometry,Area
0,USA.1_1,USA,United States,Alabama,AL|Ala.,NA,State,State,NA,US.AL,US-AL,"MULTIPOLYGON (((-8502431.609 3684611.166, -850...",133634623164.86
1,USA.2_1,USA,United States,Alaska,AK|Alaska,NA,State,State,NA,US.AK,US-AK,"MULTIPOLYGON (((17290410.312 5724865.791, 1729...",1507384934989.50
2,USA.3_1,USA,United States,Arizona,AZ|Ariz.,NA,State,State,NA,US.AZ,US-AZ,"POLYGON ((-10686457.247 3805556.343, -10688076...",295349825042.51
3,USA.4_1,USA,United States,Arkansas,AR|Ark.,NA,State,State,NA,US.AR,US-AR,"POLYGON ((-8867776.849 3987130.682, -8878387.4...",137690786715.01
4,USA.5_1,USA,United States,California,CA|Calif.,NA,State,State,NA,US.CA,US-CA,"MULTIPOLYGON (((-11311376.286 3961980.708, -11...",409583458600.18

In [32]:
US2[['NAME_1', 'Area']]

                  NAME_1             Area
0                Alabama  133634623164.86
1                 Alaska 1507384934989.50
2                Arizona  295349825042.51
3               Arkansas  137690786715.01
4             California  409583458600.18
5               Colorado  269743036923.31
6            Connecticut   12892228914.48
7               Delaware    5296282371.54
8   District of Columbia     166065589.55
9                Florida  147459924516.48
10               Georgia  152434524897.28
11                Hawaii   16724290627.10
12                 Idaho  216440738696.18
13              Illinois  150088555721.84
14               Indiana   94363034589.26
15                  Iowa  145844459321.62
16                Kansas  213124388277.76
17              Kentucky  104526493641.06
18             Louisiana  120735486321.84
19                 Maine   84363278265.40
20              Maryland   25668581451.55
21         Massachusetts   21023086603.92
22              Michigan  250353769440.01
23             Minnesota  225350448146.98
24           Mississippi  123546212801.51
25              Missouri  180569077399.75
26               Montana  380900562666.38
27              Nebraska  200209377740.82
28                Nevada  286284537843.21
29         New Hampshire   23997727157.13
30            New Jersey   19697591986.60
31            New Mexico  314879631659.90
32              New York  135186539146.32
33        North Carolina  127818658099.83
34          North Dakota  183143911017.23
35                  Ohio  119938359007.13
36              Oklahoma  181040829531.79
37                Oregon  251411496798.31
38          Pennsylvania  117298441479.78
39          Rhode Island    2833347432.14
40        South Carolina   80124261731.50
41          South Dakota  199746693720.44
42             Tennessee  109182456296.99
43                 Texas  686114536236.82
44                  Utah  219833399816.84
45               Vermont   24948637241.42
46              Virginia  103745248770.81
47            Washington  174875637378.52
48         West Virginia   62689598789.10
49             Wisconsin  169299263574.49
50               Wyoming  253297087447.11